* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif; }

/* Import statements of other SCSS files */
a {
  text-decoration: none; }

/** NOTE: The properties below should ONLY be extended with SCSS **/
.standard__section, .home, .about-us, .contact-us, .solutions-and-services, .cloud-consulting, .network-and-datacenter-virtualization, .tpm, .wireless-networks, .network-infrastructure, .network-security {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
  min-height: calc(100vh - 160px - 90px); }

.standard__header, .home__header, .about-us--header, .contact-us__header, .solutions-and-services--header, .cloud-consulting div, .network-and-datacenter-virtualization__header, .tpm__header, .wireless-networks__header, .network-infrastructure__header, .network-security__header {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center; }

.standard__title, .home__header__title, .about-us--header--title, .contact-us__header__title, .solutions-and-services--header--title, .cloud-consulting div h2, .network-and-datacenter-virtualization__header__title, .tpm__header__title, .wireless-networks__header__title, .network-infrastructure__header__title, .network-security__header__title {
  margin: 30px;
  font-size: 2em;
  font-weight: bold;
  color: #58585b;
  line-height: 1.3em; }

.description, .cloud-consulting__info, .network-and-datacenter-virtualization__info, .tpm__info, .wireless-networks__info, .network-infrastructure__info, .network-security__info {
  margin: 30px auto;
  width: 900px;
  line-height: 1.6em; }

.standard-btn, .home__info div button, .about-us .about-us__descriptions button, .solutions-and-services__list div a, .footer__social-media__contact-us {
  border: none;
  border-radius: 5px;
  background-color: #34b1ac;
  color: white;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color .3s;
  text-transform: uppercase; }
  .standard-btn:hover, .home__info div button:hover, .about-us .about-us__descriptions button:hover, .solutions-and-services__list div a:hover, .footer__social-media__contact-us:hover {
    background-color: #b13438; }

.home__main {
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }

.home__info {
  margin: 30px auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media all and (max-width: 900px) {
    .home__info {
      flex-direction: column; } }
  .home__info div {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; }
    @media all and (max-width: 900px) {
      .home__info div {
        width: 100%; } }
    .home__info div a:hover {
      border: 2px solid #34b1ac; }
    .home__info div h3 {
      margin: 15px;
      text-transform: uppercase; }
    .home__info div p {
      margin-bottom: 15px;
      width: 80%; }
    .home__info div button {
      width: 150px;
      height: 50px; }

.home__testimonials, .testimonials__list {
  margin: 30px auto;
  max-width: 1300px;
  display: flex;
  justify-content: center; }
  @media all and (max-width: 1000px) {
    .home__testimonials, .testimonials__list {
      margin: 0 auto;
      max-width: 700px;
      width: 90%;
      flex-direction: column;
      align-items: center; } }
  .home__testimonials div, .testimonials__list div {
    margin: 30px;
    width: 50%; }
    @media all and (max-width: 1000px) {
      .home__testimonials div, .testimonials__list div {
        max-width: 700px;
        width: 100%; } }
    .home__testimonials div p, .testimonials__list div p {
      line-height: 1.4em; }
      .home__testimonials div p span, .testimonials__list div p span {
        font-style: italic; }
  .home__testimonials hr, .testimonials__list hr {
    display: none; }
    @media all and (max-width: 1000px) {
      .home__testimonials hr, .testimonials__list hr {
        display: block;
        width: 100%;
        color: black;
        background: black; } }

.about-us--header--title {
  font-size: 2.25em;
  font-weight: bold;
  text-transform: uppercase; }

.about-us .about-us__descriptions {
  margin-bottom: 40px; }
  .about-us .about-us__descriptions p {
    margin: 15px auto;
    max-width: 700px;
    width: 80%;
    line-height: 1.5em; }
  .about-us .about-us__descriptions button {
    margin-top: 30px;
    padding: 10px 20px; }

.testimonials__list {
  justify-content: flex-start; }
  @media all and (max-width: 1000px) {
    .testimonials__list {
      margin: 30px auto; } }
  .testimonials__list div {
    width: 320px; }
    @media all and (max-width: 1000px) {
      .testimonials__list div {
        width: 90%; } }
  .testimonials__list hr {
    width: 90%; }

.solutions-and-services {
  max-width: 1600px; }
  .solutions-and-services__list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .solutions-and-services__list div {
      margin: 30px;
      width: 300px;
      flex-direction: column;
      align-items: center;
      display: flex; }
      .solutions-and-services__list div img {
        width: 200px; }
      .solutions-and-services__list div p {
        margin-top: 5px;
        text-align: center; }
      .solutions-and-services__list div a {
        margin-top: 15px;
        text-align: center;
        padding: 10px 25px; }

.network-infrastructure__info ul li {
  margin-left: 25px; }

.network-security__info ul li {
  margin-left: 25px; }

.footer {
  position: absolute;
  width: 100vw;
  height: 160px;
  background-color: #31363d;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer__info p {
    margin: 10px; }
  .footer__social-media {
    display: flex;
    align-items: center; }
    .footer__social-media i {
      margin: 20px;
      font-size: 40px; }
    .footer__social-media__contact-us {
      width: 180px;
      height: 45px; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .navbar div {
    display: flex; }
    .navbar div p {
      padding: 30px;
      cursor: pointer; }

/*# sourceMappingURL=sourcemaps/index.css.map */
