<section class='contact-us'>

	<div class='contact-us__header'>
		<h2 class='contact-us__header__title'>Contact Us</h2>
	</div>

	<div class='contact-us__form'>
		<p>Please fill out the simple form and we will contact you within 1 business day.</p>
		<br>

		<form>
			<label for='name'> Name <span>(reqiured)</span></label>
			<input id='name' ng-model ='user.name' type='text' placeholder='Please enter your name'>
			<label for='email'>Email <span>(reqiured)</span></label>
			<input id='email' ng-model='user.email'  type='text' placeholder='Please enter your email'>
			<label for='website'>Website</label>
			<input id='website' ng-model='user.website' type='text' placeholder='What is your website url'>
			<label for='message'>Message Content <span>(reqiured)</span></label>
			<textarea id='message' ng-model='user.message' cols='50' rows='5'  placeholder='Please enter your question or comment below'></textarea>

			<input ng-click='getInfo(user)' class='contact-us__form__submit' type='submit'>
		</form>
	</div>

</section>
