.about-us {
	@extend .standard__section;

	&__header{
		@extend .standard__header;
		height: 100px;

		&__title {
			@extend .standard__title;
			font-size: 2.25em;
			font-weight: bold;
			color: rgb(88,88,91);
		}
	}


	.about-us__descriptions	{
		@extend .description;

		p {
			margin: 15px auto;
			line-height: 1.5em;
		}

		button {
			@extend .standard-btn;
			margin-top: 30px;
			padding: 10px 20px;
		}
	}
}
