.cloud-consulting {
	@extend .standard__section;

	&__header {
		@extend .standard__header;
		margin-bottom: 30px;

		background-image: linear-gradient(
			rgba(59, 186, 181, 0.15),
			rgba(59, 186, 181, 0.15)),
			url("images/cloud-consulting-header.jpg");

		&__title {
			@extend .standard__title;
			color: white;
		}
	}

	&__info {
		margin-top: 30px;
		margin-bottom: 60px;
		display: flex;
		flex-direction: row;

		@media all and (max-width: 900px) {
			flex-direction: column;
		}

		&__philosophy {
			margin-right: 30px;
			flex: 2;

			h3 {
				font-weight: bolder;
			}

			div {
				margin-top: 15px;

				h4 {
					margin-bottom: 10px;
					font-style: italic;
					font-weight: bold;
					font-size: 26px;
					color: $m5-red;
				}

				p {

				}
			}
		}

		&__commitment {
			margin-left: 30px;
			flex: 3;

			@media all and (max-width: 900px) {
				margin-top: 30px;
				margin-left: 0;
			}

			h2 {
				font-weight: bolder;
				color: $m5-blue;
			}

			p {

			}

			ul {

				li {
					margin-left: 20px;
				}
			}
		}
	}

	h2 {
	}

	&__graphic {
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;

		i {
			margin-top: 10px;
			font-size: 100px;
		}

		&__item {
			width: 140px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			.circle {
				width: 120px;
				height: 120px;
				background-color: $m5-blue;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				p {
					margin: 0;
					color: white;
				}
			}

			p {
				margin-top: 10px;
			}
		}
	}
}
