$cloud-consulting-graphic-mobile: 767px;


.cloud-consulting {
	@extend .standard__section;

	&__header {
		@extend .standard__header;
		margin-bottom: 30px;
		background-image: url("images/headers/cloud-consulting-header.jpg");

		&__title {
			@extend .standard__title;
			color: white;
		}
	}

	&__info {
		margin-top: 30px;
		margin-bottom: 60px;
		display: flex;
		flex-direction: row;

		@media all and (max-width: 900px) {
			flex-direction: column;
		}

		&__philosophy {
			margin-right: 30px;
			flex: 2;

			h2 {
				font-size: 30px;
			}

			div {
				margin-top: 15px;

				h4 {
					margin-bottom: 10px;
					font-style: italic;
					font-weight: bold;
					font-size: 26px;
					color: $m5-red;
				}

				p {

				}
			}
		}

		&__commitment {
			margin-left: 30px;
			flex: 3;

			@media all and (max-width: 900px) {
				margin-top: 30px;
				margin-left: 0;
			}

			h2 {
				font-size: 30px;
			}

			p {

			}

			h4 {
				font-size: 26px;
				font-style: italic;
				color: $m5-blue;
			}

			ul {

				li {
					margin-left: 20px;
				}
			}
		}
	}

	&__graphic {
		margin-top: 15px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;

		@media all and (max-width: $cloud-consulting-graphic-mobile) {
			flex-direction: column;
			align-items: center;
		}

		i {
			margin-top: 10px;
			font-size: 100px;

			@media all and (max-width: $cloud-consulting-graphic-mobile) {
				transform: rotate(90deg);
			}
		}

		&__item {
			width: 140px;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;

			@media all and(max-width: $cloud-consulting-graphic-mobile) {
				width: 230px;
			}

			.circle {
				width: 120px;
				height: 120px;
				background-size: cover;
				background-color: $m5-blue;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;


				&--review {
					background-image: url("images/cloud-consulting-process/review.jpg");
				}

				&--advise {
					background-image: url("images/cloud-consulting-process/advise.jpg");
				}


				&--analyze {
					background-image: url("images/cloud-consulting-process/analyze.jpg");
				}


				&--estimate {
					background-image: url("images/cloud-consulting-process/estimate.jpg");
				}

				&--support {
					background-image: url("images/cloud-consulting-process/support.jpg");
				}
			}

			p {
				margin-top: 10px;

				span {
					font-weight: bolder;
					font-size: 23px;
				}
			}
		}
	}

	&__apn-logo {
		margin: 0 auto;
		width: 150px;
		display: block;
		padding-top: 20px;
	}
}
