.cloud-consulting {
	@extend .standard__section;

	&__header {
		@extend .standard__header;
		height: 100px;

		&__title {
			@extend .standard__title;
			color: rgb(88,88,91);
		}
	}

	&__info {
		display: flex;
		flex-direction: row;

		&__philosophy {
			margin-right: 30px;
			flex: 2;

			h3 {
				font-weight: bolder;
			}

			div {
				margin-top: 15px;

				h4 {
					margin-bottom: 10px;
					font-weight: bold;
				}

				p {

				}
			}
		}

		&__commitment {
			margin-left: 30px;
			flex: 3;
			h3 {

			}

			p {

			}

			ul {

				li {

				}
			}
		}
	}
}
