.footer {
	position: absolute;
	margin-top: 60px;
	width: 100vw;
	height: $footer-height;
	background-color: rgb(49, 54, 61);
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media all and (max-width: $footer-media-query) {
		height: $footer-height-two;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__info {

		p, address {
			margin: 10px;
		}
	}

	&__social-media {
		display: flex;
		align-items: center;

		i {
			margin: 20px 20px 20px 0;
			font-size: 40px;
			color: white;

			@media all and (max-width: 350px) {
				margin: 15px 15px 15px 0;
			}
		}

		&__contact-us {
			@extend .standard-btn;
			width: 180px;
			height: 45px;
		}
	}
}
