.footer {
	position: absolute;
	width: 100vw;
	height: $footer-height;
	background-color: rgb(49, 54, 61);
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

	@media all and (max-width: 850px) {
		height: 250px;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__info {

		p {
			margin: 10px;
		}
	}

	&__social-media {
		display: flex;
		align-items: center;

		i {
			margin: 20px;
			font-size: 40px;
		}

		&__contact-us {
			@extend .standard-btn;
			width: 180px;
			height: 45px;
		}
	}
}
