// Variables
//--------------------------
$m5-blue: rgb(52, 177, 172);
$m5-red: rgb(177, 52, 56);

$navbar-media-query: 850px;

$footer-height: 160px;
$footer-height-two: 250px;
$footer-media-query: 850px;

a {
	text-decoration: none;
}

/*img {
	pointer-events: none;
}*/

// Common Styling
//--------------------------

/** NOTE: The properties below should ONLY be extended with SCSS **/

// Used for each `page` --> Each page is contained in a section tag
.standard__section {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
	// the min height should be 100vh - the space the footer and its margin - the height of the navbar and its margin --> Navbar height + its margin is 111px on desktop
	// Desktop and mobile navbar (unexpanded) both have a height of 111px
	min-height: calc(100vh - #{$footer-height} - 60px - 111px);
	@media all and (max-width: $footer-media-query) {
		min-height: calc(100vh - #{$footer-height-two} - 60px - 111px)
	}
}

// Top part of every page that contains the page title
.standard__header {
	height: 400px;
	background-size: cover;
	background-position: center;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Main title of the page which appears on every page in the header
.standard__title {
	padding: 15px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: white;
	line-height: 1.3em;
	text-shadow: 0px 0px 10px black;
}

.description {
	margin: 30px auto;
	max-width: 800px;
	width: 85%;
	line-height: 1.6em;
}

// Common styling for all buttons on the website
.standard-btn {
	background-color: $m5-blue;
	border: none;
	border-radius: 5px;
	font-size: 1em;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	cursor: pointer;
	transition: background-color .3s;

	&:hover {
		background-color: $m5-red;
	}
}
