// Variables
//--------------------------
$m5-blue: rgb(52, 177, 172);
$m5-red: rgb(177, 52, 56);

$footer-height: 160px;

a {
	text-decoration: none;
}

// Common Styling
//--------------------------

/** NOTE: The properties below should ONLY be extended with SCSS **/

// Used for each `page` --> Each page is contained in a section tag
.standard__section {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
	min-height: calc(100vh - #{$footer-height} - 87px);
}

// Top part of every page that contains the page title
.standard__header {
	margin: 30px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Main title of the page which appears on every page in the header
.standard__title {
	font-size: 2em;
	font-weight: bold;
	color: rgb(88,88,91);
	line-height: 1.3em;
	text-transform: uppercase;
}

.description {
	margin: 30px auto;
	width: 800px;
	line-height: 1.6em;
}

// Common styling for all buttons on the website
.standard-btn {
	border: none;
	border-radius: 5px;
	background-color: $m5-blue;
	color: white;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	transition: background-color .3s;
	text-transform: uppercase;

	&:hover {
		background-color: $m5-red;
	}
}
