// Variables
//--------------------------
$m5-yellow: rgb(248, 227, 147);

// Common Styling
//--------------------------

/** NOTE: The properties below should ONLY be extended with SCSS **/

// Used for each `page` --> Each page is contained in a section tag
.standard__section {
	margin: 0 auto;
	max-width: 1100px;
	width: 90%;
}

// Top part of every page that contains the page title
.standard__header {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

// Main title of the page which appears on every page in the header
.standard__title {
	margin: 30px;
	font-size: 2em;
	font-weight: bold;
	color: rgb(88,88,91);
	line-height: 1.3em;
}

.description {
	margin: 30px;
	line-height: 1.6em;
}

// Common styling for all buttons on the website
.standard-btn {
	border: none;
	border-radius: 5px;
	background-color: $m5-yellow;
	color: white;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	transition: background-color .3s;
	text-transform: uppercase;

	&:hover {
		background-color: black;
	}
}
