// Use this file to import all other scss files. This file gets compiled by a
// gulp process

// CSS Rest --> THIS MUST BE THE FIRST CSS IN THE FILE
* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	font-weight: normal;
}

@import 'normalize';

/* Import statements of other SCSS files */
@import 'global';
@import 'home';
@import 'about-us';
@import 'testimonials';
@import 'contact-us';
@import 'solutions-and-services';
@import 'cloud-consulting';
@import 'network-and-datacenter-virtualization';
@import 'tpm';
@import 'wireless-networks';
@import 'network-infrastructure';
@import 'network-security';
@import 'staff-augmentation';
@import '404';
@import 'footer';
@import 'navbar';
@import 'pdf';
@import 'terms-of-service';
@import 'privacy-policy';
