/*********************************************************/
// Desktop Navbar SCSS

.navbar {
	margin: 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media all and (max-width: $navbar-media-query) {
		display: none;
	}

	&__logo {
		margin-left: 40px;
		cursor: pointer;

		img {
			width: 200px;
		}
	}

	&__links {
		margin-top: 40px;
		display: flex;
		justify-content: center;

		.dropdowns {
			margin-right: 30px;

			.dropdown {
				width: 165px;

				&:hover {
					.dropdown__content {
						display: block;
					}

					.dropdown__title {
						border-bottom: 3px solid $m5-blue;
					}
				}

				&__content {
					position: absolute;
					width: inherit;
					display: none;
					background-color: white;
					border-radius: 5px;
					box-shadow: 0 2px 15px black;
					text-align: center;

					p {
						padding: 10px 0;
						text-align: center;
						color: gray;
						cursor: pointer;

						&:hover {
							color: $m5-red;
						}
					}
				}

				&__title {

					p {
						margin: 0;
						text-align: center;
						cursor: pointer;
					}
				}

				&--extra-wide {
					width: 250px;
				}
			}
		}
	}
}

/*********************************************************/
// Mobile Navbar SCSS

.mobile-navbar {
	display: none;
}

@media all and (max-width: $navbar-media-query) {
	.mobile-navbar {
		margin: 31px 30px 0 30px;
		display: block;

		.top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.mobile-navbar__logo {
				cursor: pointer;

				img {
					margin-bottom: 10px;
				}
			}

			.mobile-navbar__fa-icon {
				i {
					font-size: 50px;
					cursor: pointer;
				}
			}
		}

		.bottom {
			opacity: 0;
			height: 0;
			transform: translateY(-70px);
			transition: all .3s;

			.mobile-navbar__links {
				display: none;
			}
		}

		.active {
			height: 210px;
			opacity: 1;
			transform: translateY(0);

			.mobile-navbar__links {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p {
					margin: 5px;
					font-size: 22px;
					cursor: pointer;
				}

				a {
					color: black;
				}
			}
		}
	}
}
