/*********************************************************/
// Desktop Navbar SCSS

.navbar {
	margin-top: 30px;
	height: $navbar-height;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	@media all and (max-width: $navbar-media-query) {
		display: none;
	}

	&__logo {
		margin-left: 30px;
		cursor: pointer;
	}

	&__links {
		margin-top: 30px;
		display: flex;
		justify-content: center;

		.dropdowns {

			.dropdown {
				margin: 0 20px;
				width: 140px;

				&:hover {
					.dropdown__content {
						display: block;
					}

					.dropdown__title {
						border-bottom: 1px solid $m5-blue;

					}
				}

				&__content {
					display: none;
					margin-top: 20px;
					text-align: center;

					p {
						margin: 15px 0;
						text-align: center;
						cursor: pointer;
					}
				}

				&__title {
					p {
						margin: 0;
						text-align: center;
						cursor: pointer;
					}
				}

				&--extra-wide {
					width: 250px;
				}

			}
		}

		&__text {
			width: 200px;
			text-align: center;
			cursor: pointer;
		}
	}
}

/*********************************************************/
// Mobile Navbar SCSS

.mobile-navbar {
	display: none;
}

@media all and (max-width: $navbar-media-query) {
	.mobile-navbar {
		display: block;

		.top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.mobile-navbar__logo {
				margin-left: 30px;
				cursor: pointer;
			}

			.mobile-navbar__fa-icon {
				margin: 30px;
				i {
					font-size: 50px;
					cursor: pointer;
				}
			}
		}

		.bottom {
			opacity: 0;
			height: 0;
			transform: translateY(-70px);
			transition: all .3s;

			.mobile-navbar__links {
				display: none;
			}

		}

		.active {
			height: 150px;
			opacity: 1;
			transform: translateY(0);

			.mobile-navbar__links {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p {
					margin: 5px;
					font-size: 22px;
					cursor: pointer;
				}
			}
		}
	}
}
