.network-infrastructure {
	@extend .standard__section;

	&__header {
		@extend .standard__header;
		background-image: linear-gradient(
			rgba(59, 186, 181, 0.15),
			rgba(59, 186, 181, 0.15)),
			url("images/network-infrastructure-header.jpg");

		&__title {
			@extend .standard__title;
			color: white;
		}
	}

	&__info {
		@extend .description;

		ul {

			li {
				margin-left: 25px;

			}
		}

	}
}
